* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 43.75%;
}

body {
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

.btn {
  transition: all 0.3s;
}
.btn--cta:active {
  box-shadow: 0 0.8rem 2rem 0.4rem rgba(0, 0, 0, 0.13);
  transform: translateY(3px);
}

.calc__input {
  transition: all 0.3s;
}
.calc__input:placeholder-shown {
  border: 1px solid #212121;
}
.calc__input:focus {
  transform: translateY(-5px);
  border: 1px solid #ffb001;
  box-shadow: 0 1rem 4rem 0.4rem rgba(0, 0, 0, 0.1);
}

.nav__item::before {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-out;
}
.nav__item:hover::before, .nav__item:active::before {
  transform: scaleX(1);
  transform-origin: left;
}

@keyframes fade-from-top {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes fade-in-hero-img {
  0% {
    background-position-y: 90rem;
    background-size: 0rem;
  }
  100% {
    background-position-y: 30rem;
    background-size: 50rem;
  }
}
.heading-primary, .heading-secondary {
  color: #212121;
  font-weight: 900;
  line-height: 1.1;
}
.heading-primary {
  font-size: 5.2rem;
}
.heading-secondary {
  font-size: 4.4rem;
}

.btn {
  border: none;
  text-decoration: none;
  font-family: inherit;
  cursor: pointer;
  background: none;
}

.main {
  padding-top: 9rem;
}

.stop-scroll {
  overflow-y: hidden;
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 144rem;
  padding: 0 1.2rem;
}

.padding-bot {
  padding-bottom: 6.4rem;
}

.padding-top {
  padding-top: 2rem;
}

.btn {
  cursor: pointer;
  background: none;
  text-decoration: none;
}
.btn--cta {
  color: inherit;
  height: 100%;
  padding: 1.8rem 6.4rem;
  background-color: #ffb001;
  font-weight: 900;
  border-radius: 50px;
  box-shadow: 0 1rem 3rem 1rem rgba(0, 0, 0, 0.08);
}
.btn--hero {
  padding: 2rem;
  border-radius: 50%;
  background-color: #ffb001;
}
.btn--mobile {
  outline: none;
  height: 4rem;
}

.mobile__style {
  outline: none;
  font-size: 1.6rem;
  display: block;
  height: 2px;
  width: 2.6em;
  background-color: #212121;
  position: relative;
}
.mobile__style::before, .mobile__style::after {
  transition: transform 0.2s;
  background-color: #212121;
  position: absolute;
  display: block;
  left: 0;
  content: "";
  height: 2px;
  width: 2.6em;
}
.mobile__style::after {
  transform-origin: right top;
  top: 0.9em;
}
.mobile__style::before {
  transform-origin: right bottom;
  top: -0.9em;
}
.mobile__style--open {
  visibility: hidden;
}
.mobile__style--open::before, .mobile__style--open::after {
  visibility: visible;
}
.mobile__style--open::before {
  transform: rotate(-45deg) translate(-5%, -50%);
}
.mobile__style--open::after {
  transform: rotate(45deg) translateY(50%);
}

.header {
  position: fixed;
  width: 100%;
  height: 9rem;
  font-size: 1.6rem;
  color: #212121;
  background-color: #fff;
  z-index: 2;
  box-shadow: 0 2px 4rem 2px rgba(0, 0, 0, 0.07);
}
.header .nav__mobile {
  display: flex;
}

.nav {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 1.2rem;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
}
.nav__menu {
  display: flex;
  list-style: none;
  gap: 4.8rem;
}
.nav__link:visited, .nav__link:link {
  display: block;
  color: inherit;
  text-decoration: none;
}
.nav__item {
  position: relative;
}
.nav__item::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  background-color: #212121;
  color: #212121;
  height: 2px;
  width: 100%;
}
.nav__cta {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  position: relative;
}
.nav__mobile {
  height: 100%;
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 1.2rem;
}
.nav__mobile .nav__main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__mobile .nav__menu {
  display: none;
}
.nav__mobile .nav__cta .lang__list {
  top: -1em;
}

.header--open {
  min-height: 100vh;
}
.header--open .nav__mobile {
  display: flex;
  flex-direction: column;
  gap: 10vh;
}
.header--open .nav__main {
  height: 9rem;
}
.header--open .nav__menu {
  gap: 6.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lang__list {
  z-index: 1;
  top: 1rem;
  left: -10rem;
  position: absolute;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  padding: 1rem;
  height: 2.2em;
  list-style: none;
  overflow: hidden;
}
.lang__list--open {
  box-shadow: 0 2rem 4rem 1rem rgba(0, 0, 0, 0.1);
  height: 9.5em;
}
.lang__list--open *:not(:first-child) {
  padding: 1rem 0 1rem 3px;
  border-top: solid 1px rgba(194, 194, 194, 0.3);
}
.lang__item:first-child {
  padding-bottom: 1rem;
}
.lang__link {
  color: inherit;
  text-decoration: none;
}
.lang__link--active {
  display: flex;
  gap: 0.5rem;
  padding-left: 3px;
}
.lang__link--active::after {
  transform: translateY(-2px);
  content: url("/img/icons/chevron-down.svg");
}

.footer {
  text-align: center;
}
.footer__text {
  display: inline-block;
  width: 40rem;
  padding: 6.4rem 0;
  font-size: 2.8rem;
  font-weight: 900;
}

.hero {
  height: 71rem;
  background-image: url("/img/backgrounds/hero_background.svg");
  background-size: 50rem;
  background-position-x: center;
  background-position-y: 30rem;
  background-repeat: no-repeat;
  position: relative;
  animation: fade-in-hero-img 1.6s 1 forwards;
}
.hero__heading {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 1.2rem;
  opacity: 0;
  text-align: center;
  animation: fade-from-top 1.6s forwards;
}
.hero__icon {
  height: 8rem;
  width: 8rem;
  display: block;
}
.hero__btn {
  position: absolute;
  bottom: 2rem;
  right: 4rem;
}

.features {
  background-color: #ffb001;
  border-radius: 10px;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}
.features__text {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 1.2rem;
  padding: 4.8rem 0;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}
.features__paragraph {
  font-size: 2rem;
  line-height: 1.6;
}

.calc {
  text-align: center;
}
.calc__container {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  width: 100%;
}
.calc__paragraph {
  font-size: 2rem;
}
.calc__summary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}
.calc__summary > * {
  border-radius: 10px;
}
.calc__summary > * {
  grid-column: 1/-1;
}
.calc__summary > *:nth-of-type(1) {
  grid-row: 1;
}
.calc__summary > *:nth-of-type(2) {
  grid-row: 2;
}
.calc__box {
  padding: 6.4rem 0;
  background-color: #fafafd;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}
.calc__box > * {
  margin: 0 auto;
}
.calc__subheading {
  max-width: 30rem;
  font-weight: 900;
  line-height: 1.6;
}
.calc__result {
  grid-column: 1/-1;
  padding: 3.2rem 0;
  background-color: #212121;
  color: #fff;
}
.calc__result span {
  font-weight: 900;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.5;
}
.calc__input {
  border: 1px solid #ffb001;
  outline: none;
  padding: 2rem;
  font-size: 2.2rem;
  text-align: center;
  width: 20rem;
  border-radius: 15px;
}
.calc__input::-webkit-outer-spin-button, .calc__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.calc__input::placeholder {
  opacity: 0.4;
}
.calc__output {
  padding: 0 1.6rem;
  font-size: 2.4rem;
  font-weight: 900;
  opacity: 0.6;
}
.calc__cta {
  font-size: 2.8rem;
  align-self: center;
}

@media only screen and (min-width: 31em) {
  .calc__summary > *:nth-of-type(1) {
    grid-row: 1;
    grid-column: 1;
  }
  .calc__summary > *:nth-of-type(2) {
    grid-row: 1;
    grid-column: 2;
  }
  .calc__result span {
    display: inline-block;
  }

  .padding-top {
    padding-top: 4rem;
  }
}
@media only screen and (min-width: 45em) {
  .header {
    margin: 0;
  }

  .padding-top {
    padding-top: 6.4rem;
  }

  .hero {
    height: calc(100vh - 9rem);
  }
  .hero__btn {
    display: none;
  }

  .features {
    margin: 2rem;
  }
}
@media only screen and (min-width: 69em) {
  html {
    font-size: 56.25%;
  }

  .hero {
    background-size: 60rem;
  }

  .header .nav {
    display: flex;
  }
  .header .nav__mobile {
    display: none;
  }
}
@media only screen and (min-width: 90em) {
  html {
    font-size: 62.5%;
  }

  .hero {
    background-size: 60rem;
  }

  .header .nav {
    display: flex;
  }
  .header .nav__mobile {
    display: none;
  }
}

/*# sourceMappingURL=style.comp.css.map */
